In [48]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [ ]:



url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
response = requests.get(url)

# NASA Mars News

In [ ]:


soup = bs(response.text, "html.parser")
title = soup.find("div",class_="content_title")
news_p = soup.find("div",class_="rollover_description_inner")
print(title.text)
print(news_p.text)

# JPL Mars Space Images - Featured Image

In [2]:

browser = Browser("chrome", executable_path="chromedriver", headless=False)
JPL_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [39]:
browser.visit(JPL_url)
time.sleep(20)
html = browser.html

In [41]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(7)
browser.click_link_by_partial_text('more info')

In [42]:
image_html = browser.html
new_soup = bs(image_html, 'html.parser')
container = new_soup.find('img', class_='main_image')
src_url = container.get('src')

featured_image_url  = "https://www.jpl.nasa.gov/" + src_url

print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA18848_hires.jpg

# Mars Weather

In [43]:
twitter_url ="https://twitter.com/marswxreport?lang=en"
response = requests.get(twitter_url)
weather_soup = bs(response.text, 'html.parser')

In [44]:
tweet_container = weather_soup.find('div', class_="js-tweet-text-container")

In [45]:
mars_weather = tweet_container.text
print(mars_weather)

Oh.   Oh my.   More clouds after sunset seen by Curiosity.  https://marsmobile.jpl.nasa.gov/msl/multimedia/raw/?s=2405&camera=NAV_RIGHT_ …     Just imagine standing in the foothills of Mt Sharp as the chill of the night arrives, and watching these clouds float past.pic.twitter.com/ciro0qQIve

# Mars Facts

In [52]:
facts_url = "https://space-facts.com/mars/"
facts_response = requests.get(facts_url)

In [60]:
mars_facts_tb = pd.read_html(facts_response.text)

In [63]:
print(mars_facts_tb)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [66]:
df = mars_facts_tb[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [68]:
mars_html = df.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres

In [69]:
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
hemi_response = requests.get(hemi_url)

In [71]:
soup = bs(hemi_response.text, "html.parser")

In [78]:
hemi_container = soup.find_all('div', class_="item")

In [89]:
hemi_container[0].soup.find('h3').text

AttributeError: 'NoneType' object has no attribute 'find'